<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="server" type="NodeJSConfigurationType" factoryName="Node.js" path-to-node="C:/Program Files/nodejs/node" path-to-js-file="scripts/web-server.js" working-dir="$PROJECT_DIR$" coffeescript-run="false">
    <RunnerSettings RunnerId="NodeJS.debug" />
    <RunnerSettings RunnerId="NodeJS.run" />
    <ConfigurationWrapper RunnerId="NodeJS.debug" />
    <ConfigurationWrapper RunnerId="NodeJS.run" />
    <method />
  </configuration>
</component>